/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
	height: 100vh;
}
#introCarousel {
	margin-top: -92.28px;
}

.carousel-item:nth-child(1) {
	background-image: url("../images/slide_1.jpg");
	/* background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.carousel-item:nth-child(2) {
	background-image: url("../images/slide_2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.carousel-item:nth-child(3) {
	background-image: url("../images/slide_3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
	#introCarousel {
		margin-top: -58.59px;
	}
	#introCarousel,
	.carousel-inner,
	.carousel-item,
	.carousel-item.active {
		height: 50vh;
	}
}

.navbar .nav-link {
	color: #fff !important;
}
